state-machine/rekognise-alcolizer-email-state-machine.json
{
  "StartAt": "ExtractEmailAttachment",
  "States": {
    "ExtractEmailAttachment": {
      "Type": "Task",
      "Resource": "${AlcolizerExtractEmailAttachmentArn}",
      "Next": "IsAlcolizerEmail"
    },
    "IsAlcolizerEmail": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.email.key",
          "StringEquals": "null",
          "Next": "IgnoreEmail"
        }
      ],
      "Default": "ClassifyEmail"
    },
    "ClassifyEmail": {
      "Type": "Task",
      "Resource": "${AlcolizerClassifyEmailArn}",
      "Next": "IsBreathTest"
    },
    "IsBreathTest": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.category",
          "StringEquals": "isBreathTest",
          "Next": "IsBlocked"
        },
        {
          "Variable": "$.category",
          "StringEquals": "isStatusReport",
          "Next": "storeStatusLog"
        }
      ],
      "Default": "IgnoreEmail"
    },
    "IsBlocked": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.isBlocked",
          "StringEquals": "true",
          "Next": "IgnoreEmail"
        }
      ],
      "Default": "ParseStoreEmail"
    },
    "IgnoreEmail": {
      "Type": "Task",
      "Resource": "${AlcolizerIgnoreEmailArn}",
      "End": true
    },
    "storeStatusLog": {
      "Type": "Task",
      "ResultPath": "$.status",
      "Resource": "${AlcolizerStoreStatusToS3Arn}",
      "Next": "sendStatusNotification"
    },
    "sendStatusNotification": {
      "Type": "Task",
      "Resource": "${AlcolizerSendStatusNotificationArn}",
      "End": true
    },
    "ParseStoreEmail": {
      "Type": "Task",
      "Resource": "${AlcolizerParseStoreEmailArn}",
      "Next": "MatchAllFaces"
    },
    "MatchAllFaces": {
      "Type": "Map",
      "InputPath": "$.event",
      "ItemsPath": "$.images",
      "Parameters": {
        "image.$": "$$.Map.Item.Value",
        "event-id.$": "$.id"
      },
      "MaxConcurrency": 0,
      "Iterator": {
        "StartAt": "MatchFace",
        "States": {
          "MatchFace": {
            "Type": "Task",
          "Resource": "${AlcolizerMatchFaceArn}",
            "End": true
          }
        }
      },
      "ResultPath": "$.event.matches",
      "Next": "WeightRekcognition"
    },
    "WeightRekcognition": {
      "Type": "Task",
      "InputPath": "$.event.matches",
      "ResultPath": "$.event.weighted",
      "Resource": "${AlcolizerWeightRekognitionArn}",
      "Next": "IsPositiveResult"
    },
    "IsPositiveResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.event.alcolizerResult.result",
          "NumericGreaterThan": 0,
          "Next": "sendPositiveAlcoholNotification"
        }
      ],
      "Default": "storeOutputToS3"
    },
    "sendPositiveAlcoholNotification": {
      "Type": "Task",
      "InputPath": "$",
      "ResultPath": "$.event.notification",
      "Resource": "${AlcolizerSendPositiveNotificationArn}",
      "Next": "storeOutputToS3"
    },
    "storeOutputToS3": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "${AlcolizerStoreOutputToS3Arn}",
      "End": true
    }
  }
}