state-machine/rekognise-alcolizer-email-state-machine.json
{
  "StartAt": "ExtractEmailAttachment",
  "States": {
    "ExtractEmailAttachment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-2:317510107845:function:alcolizer-extract-email-attachment-dev",
      "Next": "ClassifyEmail"
    },
    "ClassifyEmail": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-2:317510107845:function:alcolizer-classify-email-dev",
      "Next": "IsBreathTest"
    },
    "IsBreathTest": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.category",
          "StringEquals": "isBreathTest",
          "Next": "IsBlocked"
        },
        {
          "Variable": "$.category",
          "StringEquals": "isStatusReport",
          "Next": "storeStatusLog"
        }
      ],
      "Default": "IgnoreEmail"
    },
    "IsBlocked": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.isBlocked",
          "StringEquals": "true",
          "Next": "IgnoreEmail"
        }
      ],
      "Default": "ParseStoreEmail"
    },
    "IgnoreEmail": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-2:317510107845:function:alcolizer-ignore-email-dev",
      "End": true
    },
    "storeStatusLog": {
      "Type": "Task",
      "ResultPath": "$.status",
      "Resource": "arn:aws:lambda:ap-southeast-2:317510107845:function:alcolizer-store-status-log-dev",
      "Next": "sendStatusNotification"
    },
    "sendStatusNotification": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-2:317510107845:function:alcolizer-send-status-notification-dev",
      "End": true
    },
    "ParseStoreEmail": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-2:317510107845:function:alcolizer-parse-store-email-dev",
      "Next": "MatchAllFaces"
    },
    "MatchAllFaces": {
      "Type": "Map",
      "InputPath": "$.event",
      "ItemsPath": "$.images",
      "Parameters": {
        "image.$": "$$.Map.Item.Value",
        "event-id.$": "$.id"
      },
      "MaxConcurrency": 0,
      "Iterator": {
        "StartAt": "MatchFace",
        "States": {
          "MatchFace": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:ap-southeast-2:317510107845:function:alcolizer-match-face-dev",
            "End": true
          }
        }
      },
      "ResultPath": "$.event.matches",
      "Next": "WeightRekcognition"
    },
    "WeightRekcognition": {
      "Type": "Task",
      "InputPath": "$.event.matches",
      "ResultPath": "$.event.weighted",
      "Resource": "arn:aws:lambda:ap-southeast-2:317510107845:function:alcolizer-weight-rekognition-dev",
      "Next": "IsPositiveResult"
    },
    "IsPositiveResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.event.alcolizerResult.result",
          "NumericGreaterThan": 0,
          "Next": "sendPositiveAlcoholNotification"
        }
      ],
      "Default": "storeOutputToS3"
    },
    "sendPositiveAlcoholNotification": {
      "Type": "Task",
      "InputPath": "$",
      "ResultPath": "$.event.notification",
      "Resource": "arn:aws:lambda:ap-southeast-2:317510107845:function:alcolizer-send-positive-notification-dev",
      "Next": "storeOutputToS3"
    },
    "storeOutputToS3": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "arn:aws:lambda:ap-southeast-2:317510107845:function:alcolizer-store-output-s3-dev",
      "End": true
    }
  }
}